<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <from action="/common/common_post" method="post">
        <input type="text" class="input" name="captcha" placeholder="填写验证码"
         data-validate="required:填写验证" style="width:200px;" />
        <img src="/common/show_captcha" alt="" width="121" height="32"
         class="passcode" onclick="this.src=this.src+'?'" />
    </from>    
</body>
</html>